# Rename this file to docker-compose.override.yml and enable additional inclusions below

include:
# - docker-compose-acme.yml # uncomment this line to use it
# - docker-compose-pgadmin.yml # uncomment this line to use it